:root {
    --accent: #1563b0;
    --dark1: #0e0f14;
    --dark2: #171821;
    --dark3: #1f222e;
    --dark4: #282b3b;
    
    --borderradius: 5px;
    --shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    
    --roboto: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    --ease: all 0.35s cubic-bezier(0.3,0,0,1);
}

::selection {
    background-color: var(--accent);
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--dark1);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background-color: var(--dark4);
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin: 0px;
    background-color: var(--dark1);
    font-family: var(--roboto);
    color: #fff;
}

.button {
    cursor: pointer;
    user-select: none;
    position: absolute;
    min-width: 60px;
    height: 36px;
    line-height: 36px;
    padding: 0px 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: var(--borderradius);
    background-color: var(--accent);
    box-shadow: var(--shadow);
    transition: var(--ease);
}

.button.view-all {
    right: 0px;
    margin-top: 20px;
}





















.nav {
    width: 100%;
    height: 72px;
    background-color: var(--dark2);
    position: fixed;
    z-index: 99;
    top: 0px;
    box-shadow: var(--shadow);
}

.nav .title {
    height: 72px;
    line-height: 72px;
    margin-left: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}







.tab-bar {
    width: auto;
    height: 40px;
    display: table;
    position: absolute;
    right: 26px;
    top: 16px;
}

.tab {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    padding: 0px 24px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: rgba(255,255,255,0.5);
    display: table-cell;
    user-select: none;
    cursor: pointer;
    transition: var(--ease);
}

.tab:hover {
    color: rgba(255,255,255,0.75);
    background-color: rgba(255,255,255,0.05);
}

.tab.active {
    color: #fff;
}

.tab.active:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.1);
}

.tab-line {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    transform-origin: bottom left;
}
















.container {
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin: 0px auto;
    padding: 0px 40px;
}

.header {
    width: 100%;
    min-height: 600px;
    background-color: var(--dark3);
    margin-top: 72px;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'img text';
}

.header-grid img {
    grid-area: img;
}

.header-text {
    grid-area: text;
    padding-top: 200px;
}

.header-text h1 {
    font-size: 48px;
    font-weight: 200;
    margin: 0px;
}

.header-text h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;
    color: rgba(255,255,255,0.5);
}










.section {
    width: 100%;
    height: auto;
    padding-top: 60px;
    position: relative;
}

.section-header {
    padding-bottom: 20px;
}

.section-header h1 {
    font-size: 36px;
    font-weight: 200;
    margin: 0px;
}

.section-header h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    color: rgba(255,255,255,0.5);
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

.card {
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: var(--borderradius);
    background-color: var(--dark2);
    box-shadow: var(--shadow);
}



















.footer {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin-top: 120px;
    background-color: var(--dark2);
    box-shadow: var(--shadow);
}





@media screen and (max-width: 1100px){
    .grid-3 {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 850px){
    .header-text {
        padding-top: 120px;
        padding-bottom: 60px;
    }
    .header-grid {
        grid-template-columns: auto;
        grid-template-areas:
            'text'
            'img';
    }
}

@media screen and (max-width: 600px){
    .nav {
        height: 100px;
    }
    .nav .title {
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        margin: 0px;
        background-color: rgba(0,0,0,0.25);
    }
    .tab-bar {
        top: 60px;
        right: 50%;
        transform: translateX(50%);
    }
    .header {
        margin-top: 100px;
    }
    .grid-3 {
        grid-template-columns: auto;
    }
}







